[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/luajit"]
	path = thirdparty/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
